$ltr-font-family-base: 'Lato', 'IranSans', 'Segoe UI', sans-serif;
$rtl-font-family-base: 'IranSans', 'Lato', 'Segoe UI', sans-serif;
$font-family-english-only: 'Lato', 'Segoe UI', sans-serif;
$font-family-persian-only: 'IranSans';

$line-height-p: 2em;

$green: #3c763d;
$red: #a94442;