<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{'exchange.chart'|translate}}</h3>
</div>
<div class="modal-body modal-list-content">
    <form name="updateExchangeCurrencyForm" data-ng-submit="saveForm()" novalidate>
        <div class="pt-20 pb-20 clearfix">
            <form name="updateChartDataForm" novalidate>
                <bp-form-group data-field="updateChartDataForm.dateFrom"
                               data-form="updateChartDataForm" data-title="'global.dateFrom'"
                               data-css-class="'col-xs-12'" class="col-xs-12 col-sm-5 p-0">
                    <input name="dateFrom" type="text" ng-model="chartData.dateFrom"
                           vestadp="{{::vestadpOptions()}}" vdp-selected-date="chartData.dateFrom"
                           placeholder="{{::'global.dateFrom'|translate}}"
                           class="form-control white-readonly" ng-readonly="true">
                </bp-form-group>
                <bp-form-group data-field="updateChartDataForm.dateTo"
                               data-form="updateChartDataForm" data-title="'global.dateTo'"
                               data-css-class="'col-xs-12'" class="col-xs-12 col-sm-5 p-0">
                    <input name="dateTo" type="text" ng-model="chartData.dateTo"
                           vestadp="{{::vestadpOptions()}}" vdp-selected-date="chartData.dateTo"
                           placeholder="{{::'global.dateTo'|translate}}"
                           class="form-control white-readonly" ng-readonly="true">
                </bp-form-group>
                <div class="col-xs-12 col-sm-2 mt-20 p-0">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block" ng-click="updateCart()">Go</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-12">
            <div id="currency-chart" style="width:100%; height:400px;"></div>
        </div>

        <div class="clearfix"></div>

        <div class="modal-footer text-right clearfix">
            <button class="btn btn-default" type="button" ng-click="$dismiss()">
                {{'global.messages.close'|translate}}
            </button>
        </div>
    </form>
</div>
